---
interface Props {
   classes: string;
}

const {classes, ...rest} = Astro.props
---

<div class={classes} {...rest}>
   <span class="block font-bold text-skin-text-pri">Select Tip %</span>
   <div class="mt-2 grid grid-cols-2 gap-3 md:grid-cols-3 md:gap-2">
      <button value=".05" class="px-6 py-3 md:px-0 md:w-full md:py-2 text-skin-text-inverted-white  bg-skin-brand-pri rounded-md font-bold text-bodyL md:text-bodyM hover:bg-skin-button-fill-pri hover:text-skin-text-dark focus:outline-0 focus:bg-skin-brand-sec focus:text-skin-text-dark focus:ring-2 focus:ring-offset-2 focus:ring-skin-button-fill-pri">5%</button>
      <button value=".10" class="px-6 py-3 md:px-0 md:w-full md:py-2 text-skin-text-inverted-white  bg-skin-brand-pri rounded-md font-bold text-bodyL md:text-bodyM hover:bg-skin-button-fill-pri hover:text-skin-text-dark focus:outline-0 focus:bg-skin-brand-sec focus:text-skin-text-dark focus:ring-2 focus:ring-offset-2 focus:ring-skin-button-fill-pri">10%</button>
      <button value=".15" class="px-6 py-3 md:px-0 md:w-full md:py-2 text-skin-text-inverted-white  bg-skin-brand-pri rounded-md font-bold text-bodyL md:text-bodyM hover:bg-skin-button-fill-pri hover:text-skin-text-dark focus:outline-0 focus:bg-skin-brand-sec focus:text-skin-text-dark focus:ring-2 focus:ring-offset-2 focus:ring-skin-button-fill-pri">15%</button>
      <button value=".25" class="px-6 py-3 md:px-0 md:w-full md:py-2 text-skin-text-inverted-white  bg-skin-brand-pri rounded-md font-bold text-bodyL md:text-bodyM hover:bg-skin-button-fill-pri hover:text-skin-text-dark focus:outline-0 focus:bg-skin-brand-sec focus:text-skin-text-dark focus:ring-2 focus:ring-offset-2 focus:ring-skin-button-fill-pri">25%</button>
      <button value=".50" class="px-6 py-3 md:px-0 md:w-full md:py-2 text-skin-text-inverted-white  bg-skin-brand-pri rounded-md font-bold text-bodyL md:text-bodyM hover:bg-skin-button-fill-pri hover:text-skin-text-dark focus:outline-0 focus:bg-skin-brand-sec focus:text-skin-text-dark focus:ring-2 focus:ring-offset-2 focus:ring-skin-button-fill-pri">50%</button>
      <input type="text" placeholder="Custom" autocomplete="off" class="px-6 py-3 md:px-0 md:w-full md:py-2 text-right border-0 text-skin-text-dark text-bodyL md:text-bodyM bg-skin-input-fill rounded-md font-bold placeholder:text-center focus:ring-2 focus:ring-offset-2 focus:ring-skin-button-fill-pri">
    
   </div>
</div>
